:root {
	font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	overflow:hidden;
	--bg-translucent: rgba(255, 255, 255, 0.6);
	--accent: oklch(0.6167 0.1769 252.54);
}

body {
	padding:0;
	margin:0;
	height:100svh;
	width:100vw;
	overflow: hidden;
}

#map {
	width: 100vw;
	height: 100svh;
}

#overlay {
	position: absolute;
	top:1rem;
	left:1rem;
	width:fit-content;
	right:1rem;
	/* padding:1rem; */
	z-index: 999;
	border-radius: calc(1rem + var(--spinny-border-width));

	border: 2px solid transparent;

	backdrop-filter: blur(2rem);
	background: var(--bg-translucent);

	transition: backdrop-filter 0.2s, border 0.2s;
}

body:not([data-loading]) #overlay {
	border: 2px solid #aaa;
	top: 1rem;
	right:1rem;
}

.overlay-interior {
	position: relative;
	padding:1rem;
	border-radius:1rem;
	background:#fefefe;

	box-shadow: 
		0 0 1rem 1rem rgba(0,0,0,0.025) inset,
		0 0.25rem 1rem 1rem rgba(0,0,0,0.05)
	;
	transition: background 2s 1s, box-shadow 2s 1s;
}

body:not([data-loading]) .overlay-interior {
	background:transparent;
	box-shadow: 0 0 1rem 1rem rgba(0,0,0,0.05) inset,
				0 0.25rem 1rem 1rem rgba(0,0,0,0.05);
}

@property --spinny-border-width {
	syntax: "<length>";
	inherits: true;
	initial-value: 2px;
}

body {
	--spinny-border-width: 2px;
	transition: --spinny-border-width 2s;
}

.loading-spinny-container {
	

	overflow:hidden;

	position: absolute;
	z-index: -1;
	inset: calc(-1 * var(--spinny-border-width));
	border-radius: calc(1rem + var(--spinny-border-width));
	background:lightgray;

	transition: opacity 2s;
}

body:not([data-loading]) .loading-spinny-container {
	opacity: 0;
}

.loading-spinny-container::before {
	content: "";
	background:#0885e4;

	position: absolute;
	width:80%;
	height:60%;
	left: -30%;
	top: 25%;
	transform-origin:right center;
	animation: spin 2s linear infinite;
}

body:not([data-loading]) {
	--spinny-border-width: 0;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}

}

h1 {
	margin:0;
	display: block;
}

.info-button {
	position:absolute;
	bottom:1rem;
	right:1rem;
	display: block;
	z-index:999;

	backdrop-filter: blur(2rem);
	background: rgba(255, 255, 255, 0.6);
	border: 2px solid #aaa;	
	border-radius:0.5rem;

	font-size: 1rem;
	padding: 0.25rem;
	width: 2rem;
	height:2rem;

	color: #666;

	box-shadow:  0 0.25rem 1rem 1rem rgba(0,0,0,0.05);

	&:hover {
		cursor: pointer;
		background: rgba(200,200,200,0.6)
	}

	&:active {
		bottom: 0.75rem;
	}

	transition: background-color 0.2s, bottom 0.2s;
}

.info-close {
	position:absolute;
	top:2rem;
	right:2rem;

	width:2rem;
	height:2rem;

	backdrop-filter: blur(2rem);
	background: rgba(255, 255, 255, 0.6);
	border: 2px solid #aaa;	
	border-radius:0.5rem;

	&:hover {
		cursor: pointer;
		background: rgba(200,200,200,0.6)
	}

	&:active {
		top: 2.25rem;
	}

	transition: background 0.2s, top 0.2s;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

dialog {
	backdrop-filter: blur(2rem);
	background: rgba(255, 255, 255, 0.6);
	border: 2px solid #aaa;	
	border-radius:1rem;

	padding: 2rem;

	opacity:0;

	box-sizing: border-box;
	width: min( 80ch, calc( 100% - 4rem ) );
	width: min( 80ch, min(max-content, calc( 100% - 4rem )) ); 
	/* I think chrome's implemented calc with max-content?? idk cant hurt lol*/
}

dialog::backdrop {
	backdrop-filter:blur(1rem);
	opacity:0;
}

dialog[open], dialog[open]::backdrop {
	animation: fade-in 0.5s ease forwards;
}

dialog a {
	color: var(--accent);
	transition: color 0.2s, text-shadow 0.2s;
}

dialog a:hover {
	color: oklch(from var(--accent) 0.8 c h);
	text-shadow: 0 0 1rem white;
}

#output {
	font-family: 'Courier New', Courier, monospace;
}

.loading-container {
	position:absolute;
	bottom: 1rem;
	inset-inline:0;
	
	z-index: 999;
	
	display: flex;
	flex-direction: row;
	justify-content: center;

	transition:inset 0.2s cubic-bezier(0.25, 0.1, 0.32, 1.32);
}

.loading-outer {
	--loading-progress:0%;
	background:var(--bg-translucent);
	width:10rem;

	backdrop-filter: blur(2rem);
	border-radius:0.5rem;
	padding:0.25rem;

	display: flex;
	flex-direction: column;
}

.loading-outer span {
	margin-bottom:0.25rem;
	color: gray;
	font-style: italic;
	font-size:0.75rem;
}

.loading-bar-outer {
	width:100%;
	background:lightgray;
}

.loading-bar {
	width: var(--loading-progress);
	background:var(--accent);
	height:100%;

	height: 0.2rem;
	border-radius:0.1rem;

	transition:width 0.2s;
}

.loading-container:has(.empty) {
	bottom:-4rem;
}
